#auth-form {
  padding: 26px;
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  & > .container {
    display: flex;
    overflow: hidden;
    justify-content: space-between;
    background: #050609;
    border: 1px solid rgb(244 240 232 / 0.1);
    border-radius: 34px;
    max-height: 900px;
    height: 100%;
    width: 100%;

    & > .intro {
      flex: 0 0 50%;
    }

    & > .wrapper-form {
      flex: 0 0 50%;
    }
  }
}