.create-room-button {
  padding: 8px 16px;
  display: flex;
  align-items: center;
  border-radius: 12px;
  gap: 8px;
  background: #10131D;
  border: 1px solid rgb(244 240 232 / 0.1);

  & > .curcle {
    width: 8px;
    height: 8px;
    border-radius: 100px;
    background: #F59E0B;
  }

  & > .text {
    color: #F3F4F6;
  }

}