.header-notification {
  position: relative;

  & > button {
    width: 40px;
    height: 40px;
    border-radius: 12px;

    background: #10131D;
    border: 1px solid rgb(244 240 232 / 0.1);

    display: flex;
    align-items: center;
    justify-content: center;
  }

  & > .panel {
    position: absolute;
    min-height: 400px;
    width: 200px;
    display: none;
    background: #10131D;
    border: 1px solid rgb(244 240 232 / 0.1);
    border-radius: 12px;
    top: 12px;

  }
}