.header-search {
  position: relative;
  max-width: 420px;
  width: 100%;

  & > input {
    padding: 13.5px 18px 13.5px 48px;
    border-radius: 12px;
    background: #10131D;
    border: 1px solid rgb(244 240 232 / 0.1);
    line-height: 24px;
    width: 100%;

    &::placeholder {

    }
  }

  & > svg {
    position: absolute;
    top: 25%;
    left: 15px;
  }
}