@import "@/assets/styles/animation-presets.less";
@import "@/assets/styles/vars.less";

.video-backdrop {
  padding: 48px;
  border-radius: 24px;
  position: relative;
  width: 100%;
  height: 100%;
  max-height: 440px;

  &:after {
    content: '';
    position: absolute;
    z-index: 1;
    inset: 0;
    background: rgb(0 0 0 / 0.6);
  }

  & > .wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-between;
    z-index: 2;

    & > .content {
      display: flex;
      flex-direction: column;
      gap: 16px;

      & > .info {
        display: flex;
        align-items: center;
        gap: 10px;

        & > .rating {
          display: flex;
          align-items: center;
          gap: 4px;

          & > span {
            color: @textPrimary;
            font-size: 14px;
            font-family: "Inter", sans-serif;
            font-weight: 900;
          }

          & > svg {
            width: 14px;
            height: 14px;

            color: #F59E0B;
          }
        }


        & > p {
          color: @textPrimary;
          font-size: 14px;
          font-family: "Inter", sans-serif;
        }

      }

      & > .title {
        font-size: 64px;
        color: @textPrimary;
        font-weight: 900;
        font-family: "Inter", sans-serif;
      }

      & > .description {
        color: @textPrimary;
        font-size: 16px;
        font-family: "Inter", sans-serif;
      }
    }

    & > .actions {
      display: flex;
      align-items: center;
      gap: 16px;

      & > a {
        line-height: 48px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-weight: 600;
        font-family: "Inter", sans-serif;
        gap: 8px;
        border-radius: 12px;
        max-width: 217px;
        width: 100%;

        & > svg {
          color: #fff;
        }

        & > span {
          color: #fff;
          font-size: 15px;
        }

        &:first-child {
          .interactive-play-scale-glow();

          background: #8B5CF6;
        }

        &:last-child {
          .interactive-plus-scale-glass();

          background: rgb(255 255 255 / 0.08);
          border: 1px solid rgb(255 255 255 / 0.08);
        }
      }
    }
  }
}