@import "@/assets/styles/animation-presets.less";

.account-app > a {
  .interactive-scale();

  background: linear-gradient(135deg, #272B39 14.64%, #0F111A 85.36%);
  border: 1px solid #F4F0E824;
  display: flex;
  align-items: center;
  height: 45px;
  width: 45px;
  justify-content: center;

  border-radius: 100px;
  color: #FFB000;

  &.no-account {
    & > svg {
      color: #fff;
      width: 22px;
      height: 22px;
    }
  }
}