.account-app > a {
  background: linear-gradient(135deg, #272B39 14.64%, #0F111A 85.36%);
  border: 1px solid #F4F0E824;
  display: flex;
  align-items: center;
  height: 45px;
  width: 45px;
  justify-content: center;

  border-radius: 100px;
  color: #FFB000;
}