.app-aside {
  background: #07080D;
  box-shadow: -1px 0px 0px 0px #F4F0E814 inset;
  display: flex;
  flex-direction: column;
  padding: 30px 20px;
  align-items: center;

  & > .logo {
    margin-bottom: 40px;
  }

  & > .pages {
    margin-bottom: auto;
  }
}