@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@400;500;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Unbounded:wght@400;500;600;700;800;900&display=swap");

@font-main: "Manrope", Arial, Helvetica, sans-serif;

@font-regular: 400;
@font-medium: 500;
@font-semibold: 600;
@font-bold: 700;
@font-extrabold: 800;
