.container-default {
  display: flex;

  & > .aside {
    flex: 0 1;
    height: 100vh;
    position: sticky;
  }

  & > .content {
    width: 100%;
    display: flex;
    flex-direction: column;
  }
}