.auth-intro {
  height: 100%;
  background: url("/images/auth/intro.png") no-repeat center center / cover;
  display: flex;
  gap: 10px;
  justify-content: center;

  & > .text {
    margin-bottom: 100px;
    margin-left: 20px;
    flex-direction: column;
    justify-content: end;
    display: flex;

    & > p {
      font-size: 12px;
    }

    & > h2 {
      font-family: "Unbounded", sans-serif;
      font-size: 64px;
      line-height: 67px;
    }
  }

}