.switch-form {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100px;
  background: #10131D;
  border: 1px solid rgb(244 240 232 / 0.1);
  height: 55px;
  
  & > button {
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
    position: relative;
    width: 100%;
    font-size: 1rem;
    font-weight: 900;
    color: #A7A297;
    height: 42px;
    transition: all 0.3s;

    &.active {
      color: #050609;
    }
  }
  
  & > .runner {
    width: 50%;
    height: 42px;
    z-index: 0;
    transition: all 0.4s;
    border-radius: 100px;
    background: #FFB000;
    position: absolute;

    &.left {
      left: 49%;
    }

    &.right {
      left: 1%;
    }
  }
}