.switch-form {
  position: relative;

  display: flex;
  align-items: center;
  justify-content: center;

  width: 100%;
  height: 55px;

  border-radius: 100px;
  background: #10131D;
  border: 1px solid rgb(244 240 232 / 0.1);

  & > button {
    position: relative;
    z-index: 1;

    display: flex;
    align-items: center;
    justify-content: center;

    width: 50%;
    height: 42px;

    font-size: 1rem;
    font-weight: 900;
    color: #A7A297;

    transition: color 0.3s ease;
  }

  & > .runner {
    position: absolute;
    z-index: 0;

    top: 50%;
    left: 4px;

    width: calc((100% - 8px) / 2);
    height: 42px;

    border-radius: 100px;
    background: #FFB000;

    transform: translate(100%, -50%);
    transition: transform 0.35s ease;
  }

  &.active {
    & > .runner {
      transform: translate(0, -50%);
    }

    & > button:first-of-type {
      color: #050609;
    }

    & > button:last-of-type {
      color: #A7A297;
    }
  }

  &:not(.active) {
    & > button:first-of-type {
      color: #A7A297;
    }

    & > button:last-of-type {
      color: #050609;
    }
  }
}