.auth-wrapper-form {
  padding: 56px 74px;
  position: relative;

  & > h2 {
    margin-bottom: 32px;
    font-size: 44px;
    line-height: 46px;
    font-weight: bold;
    color: #F4F0E8;
  }

  & > .switch {
    margin-bottom: 47px;
  }
}