.field-form {
  display: flex;
  flex-direction: column;
  gap: 8px;

  & > label {
    font-size: 11px;
    text-transform: uppercase;
    color: #6F6A61;
    font-weight: 900;
  }

  & > input {
    padding: 13px 16px;
    font-size: 1rem;
    background: #10131D;
    border: 1px solid rgb(244 240 232 / 0.1);
    border-radius: 16px;
    color: #fff;

    &::placeholder {
      color: #A7A297;
    }
  }
}