.selection-videos {
  display: flex;
  width: 100%;
  flex-direction: column;
  gap: 24px;

  & > .list {
    width: 100%;
    overflow: hidden;
    overflow-x: scroll;
    display: flex;
    gap: 24px;
    align-items: center;
  }
}