@import "@/assets/styles/vars.less";

.title-selection {
  display: flex;
  align-items: center;
  gap: 12px;

  & > h2 {
    font-size: 22px;
    font-family: "Outfit", sans-serif;
    font-weight: 900;
    color: @textPrimary;
  }
  & > img {
    width: 20px;
    height: 20px;
  }

  & > .mark {
    width: 8px;
    height: 8px;
    background: #F59E0B;
    border-radius: 1000px;
  }
}